<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Sobre</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0;
      background-color: #f9f9f9; } main { max-width:
      800px; margin: 20px auto; padding: 0 20px; } section { background-color:
      #fff; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 20px; margin-bottom: 20px; } h2 { color: #333; margin-top: 0; } p
      { color: #666; } ul { list-style-type: none; padding: 0; } li {
      margin-bottom: 5px; color: #333; }
    </style>
  </head>
  <body>
    <main>
      <section>
        <h2>Nossa História</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam ea expedita porro cumque beatae! Soluta harum animi temporibus quibusdam, quaerat dignissimos obcaecati cumque voluptas quas error et. Esse, amet?</p>
      </section>
      <section>
        <h2>Nossa Missão</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus a perspiciatis aperiam sequi, deserunt magnam amet provident. Fugit aliquid est culpa eum laborum nostrum esse quaerat quis iste id. Cumque?</p>
      </section>
      <section>
        <h2>Nossos Valores</h2>
        <ul>
          <li>Qualidade</li>
          <li>Integridade</li>
          <li>Respeito</li>
          <li>Inovação</li>
          <li>Satisfação do Cliente</li>
        </ul>
      </section>
    </main>
  </body>
</html>